<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wong0903.visitsg">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="helper.AppController">

        <activity
            android:name="boundary.MainInterface"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="boundary.UserInterface"
            android:label="Login"
            android:theme = "@style/FullscreenTheme"
            android:parentActivityName ="boundary.MainInterface">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="boundary.MainInterface" />

        </activity>

        <activity android:name="boundary.LoginInterface"
            android:label="Login"
            android:theme = "@style/FullscreenTheme"
            android:parentActivityName ="boundary.MainInterface">
        </activity>

        <activity android:name="boundary.SignUpInterface"
            android:label="Registration"
            android:theme = "@style/FullscreenTheme"
            android:parentActivityName ="boundary.LoginInterface">
        </activity>

        <activity android:name="boundary.ListViewInterface"
            android:label="Attractions"
            android:theme = "@style/FullscreenTheme"
            android:parentActivityName ="boundary.MainInterface">
        </activity>

        <activity
            android:name="boundary.AttractionInterface"
            android:label="Attraction"
            android:theme = "@style/FullscreenTheme"
            android:parentActivityName ="boundary.ListViewInterface">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>